<!-- lo que va adentro del body-->
<div>
    <u>Ingrese los datos del cliente</u>

<form id="form">
<ul>
    <li>
        <label>Documento:  </label>
        <input type="number" min="0" id="ci">
    </li>

    <li>
        <label>Nombre:  </label>
        <input type="text" id="nombre">
    </li>

    <li>
        <label>Apellido:  </label>
        <input type="text" id="apellido">
    </li>
    
    <li>
        <label>Fecha de Nacimiento:  </label>
        <input type="date" id="fechaNac">
    </li>
    
    <li>
        <label>Dirección:  </label>
        <input type="text" id="dir">
    </li>
    
    <li>
        <label>Teléfono:  </label>
        <input type="number" min="0" id="tel">
    </li>
    
</ul>
<div>
    <button type="submit" class="aceptar">Confirmar</button>
    <button type="reset" class="cancelar">Cancelar</button>
</div>
</form>
</div>