<!-- lo que va adentro del body-->
<app-inicio></app-inicio>
<u>Ingrese los datos del cliente</u>

    <form novalidate [formGroup]="form" (submit)="enviar()">
        <ul>
            <li>
                <label>Documento:  </label>
                <input type="number" min="0" formControlName="cedula">
            </li>

            <li>
                <label>Nombre:  </label>
                <input type="text" formControlName="nombre">
            </li>

            <li>
                <label>Apellido:  </label>
                <input type="text" formControlName="apellido">
            </li>
            
            <li>
                <label>Fecha de Nacimiento:  </label>
                <input type="date" formControlName="fechaNac">
            </li>
            
            <li>
                <label>Dirección:  </label>
                <input type="text" formControlName="direccion">
            </li>
            
            <li>
                <label>Teléfono:  </label>
                <input type="number" min="0" formControlName="telefono">
            </li>
            
        </ul>
        <div>
            <button type="submit" class="aceptar">Confirmar</button>
            <button type="reset" class="cancelar">Cancelar</button>
        </div>
    </form>