<form action="/my-handling-form-page" method="post">
    <ul>
     <li>
       <label for="name">Nombre del cliente:</label>
       <input type="text" id="name" name="name">
     </li>
     <li>
       <label for="dir">Fecha de venta</label>
       <input type="date" id="fecha" name="fecha">
     </li>
     <li>
       <label for="precio">Precio:</label>
       <input type="text" id="producto" name="producto">
     </li>
     <li>
         <button>Confirmar venta</button>
     </li>
    </ul>
   </form>
