<app-inicio></app-inicio>
<form novalidate [formGroup]="venta" (submit)="enviar()">
  <u>Ingrese los datos de la venta:</u>
    <ul>
     <li>
       <label class="red" for="cliente">Cliente: </label>
       <select type="Select"  formControlName="cliente">
          <option *ngFor="let title of clientes" [value]="title">
            {{title}}
        </option>
       </select>
     </li>
     <li>
       <label for="fecha">Fecha de venta: </label>
       <input type="date"  formControlName="fecha">
     </li>
     <li>
       <label for="producto">Producto: </label>
       <select formControlName="producto">
        <option *ngFor="let title of productos " [value]="title">
          {{title}}
      </option>
     </select>
     </li>
    </ul>
    <div>
      <button type="submit" class="aceptar" [disabled]="venta.invalid">Confirmar</button>
      <button type="reset" class="cancelar">Cancelar</button>
  </div>
 
   </form>
