<form novalidate [formGroup]="venta" (submit)="enviar()">
    <ul>
     <li>
       <label class="red" for="cliente">cliente:</label>
       <input type="text"  formControlName="cliente">
     </li>
     <li>
       <label for="fecha">Fecha de venta . 
       </label>
       <input type="date"  formControlName="fecha">
     </li>
     <li>
       <label for="producto">producto:</label>
       <input type="text" formControlName="producto">
     </li>
    </ul>
    <div>
      <button type="submit" class="aceptar" [disabled]="venta.invalid">Confirmar</button>
      <button type="reset" class="cancelar">Cancelar</button>
  </div>
 
   </form>
