<form novalidate [formGroup]="product" (submit)="enviar()">
  <u>Ingrese los datos del producto:</u>
    <ul>
     <li>
       <label for="name">Nombre: </label>
       <input type="text" formControlName="name">
     </li>
     <li>
       <label for="dir">Descripcion: </label>
       <input type="text" formControlName="dir">
     </li>
     <li>
       <label for="precio">Precio: </label>
       <input type="number"  min="0" formControlName="precio">
     </li>
     <p>Imagen:</p>
               <input type="file" name="imagen" formControlName="imagen"> 
    </ul>
    <div>
      <button type="submit" class="aceptar" [disabled]="product.invalid">Confirmar</button>
      <button type="reset" class="cancelar">Cancelar</button>
  </div>
</form>
