<form action="" method="post">
    <ul>
     <li>
       <label for="name">Nombre:</label>
       <input type="text" id="name" name="name">
     </li>
     <li>
       <label for="dir">Direccion</label>
       <input type="text" id="dir" name="dir">
     </li>
     <li>
       <label for="precio">Precio:</label>
       <input type="numeric" id="precio" name="precio">
     </li>
    </ul>
    <div>
      <button type="submit" class="aceptar">Confirmar</button>
      <button type="reset" class="cancelar">Cancelar</button>
  </div>
   </form>
